.spinner,
.spinner div,
.spinner div:after {
  box-sizing: border-box;
}

.spinner {
  @apply pt-[2px];
  color: black;
  display: inline-block;
  position: relative;
  width: 16px; /* Adjusted to fit 16px text size */
  height: 16px; /* Adjusted to fit 16px text size */
}

.spinner div {
  transform-origin: 8px 8px; /* Center of the smaller spinner */
  animation: spinner 1.2s linear infinite;
}

.spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0.8px; /* Adjusted to keep it centered */
  left: 7px; /* Adjusted for smaller size */
  width: 1.6px; /* Reduced the width */
  height: 4.4px; /* Reduced the height */
  border-radius: 20%;
  background: black;
}

.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* request spinner */
.requestSpinner {
  @apply size-[60px] md:size-[100px];
  border-radius: 50%;
  background: conic-gradient(
    from 90deg,
    rgba(46, 204, 113, 0.05) 0deg,
    rgb(46, 67, 204) 360deg
  );
  mask: radial-gradient(farthest-side, transparent 90%, black 91%);
  -webkit-mask: radial-gradient(farthest-side, transparent 90%, black 91%);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
